<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.spring.dao.ShenqingquerenMapper">
    <resultMap id="BaseResultMap" type="com.spring.entity.Shenqingqueren">
        <id column="id" property="id" jdbcType="INTEGER"/>
                            <result column="wupinbianhao" property="wupinbianhao" jdbcType="VARCHAR"/>
                                    <result column="wupinmingcheng" property="wupinmingcheng" jdbcType="VARCHAR"/>
                                    <result column="wupintupian" property="wupintupian" jdbcType="VARCHAR"/>
                                    <result column="wupinjiage" property="wupinjiage" jdbcType="DECIMAL"/>
                                    <result column="jiaoyididian" property="jiaoyididian" jdbcType="VARCHAR"/>
                                    <result column="maijia" property="maijia" jdbcType="VARCHAR"/>
                                    <result column="jiaoyishijian" property="jiaoyishijian" jdbcType="VARCHAR"/>
                                    <result column="shenqingren" property="shenqingren" jdbcType="VARCHAR"/>
                                    <result column="queren" property="queren" jdbcType="VARCHAR"/>
                                    <result column="beizhu" property="beizhu" jdbcType="VARCHAR"/>
                                    <result column="querenren" property="querenren" jdbcType="VARCHAR"/>
                                                    <result column="jiaoyishenqingid" property="jiaoyishenqingid" jdbcType="INTEGER"/>
                <result column="addtime" property="addtime" jdbcType="VARCHAR"/>
            </resultMap>
    <sql id="Base_Column_List">
        id, wupinbianhao, wupinmingcheng, wupintupian, wupinjiage, jiaoyididian, maijia, jiaoyishijian, shenqingren, queren, beizhu, querenren, jiaoyishenqingid, addtime    </sql>
    </mapper>
