<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.spring.dao.WupinxinxiMapper">
    <resultMap id="BaseResultMap" type="com.spring.entity.Wupinxinxi">
        <id column="id" property="id" jdbcType="INTEGER"/>
                            <result column="wupinbianhao" property="wupinbianhao" jdbcType="VARCHAR"/>
                                    <result column="fenlei" property="fenlei" jdbcType="VARCHAR"/>
                                    <result column="wupinmingcheng" property="wupinmingcheng" jdbcType="VARCHAR"/>
                                    <result column="wupintupian" property="wupintupian" jdbcType="VARCHAR"/>
                                    <result column="wupinjiage" property="wupinjiage" jdbcType="DECIMAL"/>
                                    <result column="lianxidianhua" property="lianxidianhua" jdbcType="VARCHAR"/>
                                    <result column="lianxiren" property="lianxiren" jdbcType="VARCHAR"/>
                                    <result column="jiaoyididian" property="jiaoyididian" jdbcType="VARCHAR"/>
                                    <result column="xinjiuchengdu" property="xinjiuchengdu" jdbcType="VARCHAR"/>
                                    <result column="wupinzhuangtai" property="wupinzhuangtai" jdbcType="VARCHAR"/>
                                    <result column="wupinjieshao" property="wupinjieshao" jdbcType="VARCHAR"/>
                                    <result column="maijia" property="maijia" jdbcType="VARCHAR"/>
                                    <result column="issh" property="issh" jdbcType="VARCHAR"/>
                                <result column="addtime" property="addtime" jdbcType="VARCHAR"/>
            </resultMap>
    <sql id="Base_Column_List">
        id, wupinbianhao, fenlei, wupinmingcheng, wupintupian, wupinjiage, lianxidianhua, lianxiren, jiaoyididian, xinjiuchengdu, wupinzhuangtai, wupinjieshao, maijia, issh, addtime    </sql>
    </mapper>
